.section {
  margin-bottom: 70px;
  padding: 20px 0; }
  .section-title {
    border-bottom: 1px solid lightgray;
    padding-bottom: 2px; }

.subsection {
  margin-bottom: 65px; }
  .subsection-title {
    color: gray;
    text-transform: uppercase;
    letter-spacing: 1px; }

.form-elements-buttons .btn {
  margin-bottom: 20px; }

.section-forms .form-horizontal,
.section-forms .form-vertical {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 2px; }

.style-guide-nav {
  padding-top: 20px;
  position: fixed; }
  .style-guide-nav a {
    display: block; }
  @media screen and (max-width: 768px) {
    .style-guide-nav {
      position: relative; } }
