@charset "UTF-8";
/* Base */
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* Edited by Chris */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

.row:after, .form-vertical .form-item:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.row, .form-vertical .form-item {
  display: inline-block; }

.row, .form-vertical .form-item {
  display: block; }

/* Functions */
/* Variables */
/* Suplumentary */
/* Functions */
/* Mixins */
/* Typography */
/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 2.0.0
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026; }
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C; }
.typl8-tera, .typl8-giga, .typl8-mega, .typl8-alpha, h1, .typl8-beta, h2, .typl8-gamma, h3, .typl8-delta, h4, .typl8-epsilon, h5, .typl8-zeta, h6, .typl8-heta, .typl8-theta, .btn-small {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

html {
  font: normal 100%/1.62 "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif; }

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444; }

.typl8-tera {
  font-size: 148px;
  font-size: 9.25rem;
  margin-bottom: 2.8021621622px;
  margin-bottom: 0.1751351351rem; }

.typl8-giga {
  font-size: 111px;
  font-size: 6.9375rem;
  margin-bottom: 3.7362162162px;
  margin-bottom: 0.2335135135rem; }

.typl8-mega {
  font-size: 83px;
  font-size: 5.1875rem;
  margin-bottom: 4.996626506px;
  margin-bottom: 0.3122891566rem; }

.typl8-alpha, h1 {
  font-size: 67px;
  font-size: 4.1875rem;
  margin-bottom: 6.1898507463px;
  margin-bottom: 0.3868656716rem; }

.typl8-beta, h2 {
  font-size: 50px;
  font-size: 3.125rem;
  margin-bottom: 8.2944px;
  margin-bottom: 0.5184rem; }

.typl8-gamma, h3 {
  font-size: 37px;
  font-size: 2.3125rem;
  margin-bottom: 11.2086486486px;
  margin-bottom: 0.7005405405rem; }

.typl8-delta, h4 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-bottom: 14.8114285714px;
  margin-bottom: 0.9257142857rem; }

.typl8-epsilon, h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 19.7485714286px;
  margin-bottom: 1.2342857143rem; }

.typl8-zeta, h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 25.92px;
  margin-bottom: 1.62rem; }

.typl8-heta {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 34.56px;
  margin-bottom: 2.16rem; }

.typl8-theta, .btn-small {
  font-size: 9px;
  font-size: 0.5625rem;
  margin-bottom: 46.08px;
  margin-bottom: 2.88rem; }

p {
  margin: auto auto 1.5em; }

small {
  font-size: 65%; }

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt,
.typl8-lining dd {
  display: inline;
  margin: 0; }
.typl8-lining dt + dt:before,
.typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.typl8-lining dd + dd:before {
  content: ", "; }
.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .typl8-dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .typl8-dictionary-style dd:before {
    content: counter(definitions,decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em; }
  .typl8-pull-quote:before, .typl8-pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .typl8-pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .typl8-pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
pre {
  font-size: 12px;
  font-size: 0.75rem; }

p.alter {
  font-size: 12px;
  font-size: 0.75rem; }

a {
  color: #E01EC8;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

.form-item-description {
  font-size: 12px;
  font-size: 0.75rem;
  color: #999;
  margin-top: 2.5px;
  font-style: italic;
  clear: both; }
  .label-aside .form-item-description {
    text-align: right; }

/* Layout */
*, *:before, *:after {
  box-sizing: border-box; }

.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  box-sizing: content-box; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.col-1 {
  width: 8.3333333333%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-2 {
  width: 16.6666666667%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-3 {
  width: 25%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-4 {
  width: 33.3333333333%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-5 {
  width: 41.6666666667%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-6 {
  width: 50%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-7 {
  width: 58.3333333333%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-8 {
  width: 66.6666666667%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-9 {
  width: 75%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-10 {
  width: 83.3333333333%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-11 {
  width: 91.6666666667%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-12 {
  width: 100%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.push-1 {
  margin-left: 8.3333333333%; }

.pull-1 {
  margin-left: -8.3333333333%; }

.push-2 {
  margin-left: 16.6666666667%; }

.pull-2 {
  margin-left: -16.6666666667%; }

.push-3 {
  margin-left: 25%; }

.pull-3 {
  margin-left: -25%; }

.push-4 {
  margin-left: 33.3333333333%; }

.pull-4 {
  margin-left: -33.3333333333%; }

.push-5 {
  margin-left: 41.6666666667%; }

.pull-5 {
  margin-left: -41.6666666667%; }

.push-6 {
  margin-left: 50%; }

.pull-6 {
  margin-left: -50%; }

.push-7 {
  margin-left: 58.3333333333%; }

.pull-7 {
  margin-left: -58.3333333333%; }

.push-8 {
  margin-left: 66.6666666667%; }

.pull-8 {
  margin-left: -66.6666666667%; }

.push-9 {
  margin-left: 75%; }

.pull-9 {
  margin-left: -75%; }

.push-10 {
  margin-left: 83.3333333333%; }

.pull-10 {
  margin-left: -83.3333333333%; }

.push-11 {
  margin-left: 91.6666666667%; }

.pull-11 {
  margin-left: -91.6666666667%; }

.push-12 {
  margin-left: 100%; }

.pull-12 {
  margin-left: -100%; }

/* Rows */
.row {
  margin-right: -1.0416666667% !important;
  margin-left: -1.0416666667% !important; }

.col-one-third {
  width: 33.3333333333%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-two-thirds {
  width: 66.6666666667%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-one-fourth {
  width: 25%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-halfs {
  width: 50%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.col-three-fourths {
  width: 75%;
  float: left;
  padding-left: 1.0416666667%;
  padding-right: 1.0416666667%; }

.last {
  float: right; }

[class^="col-"] {
  min-height: 1px; }
  @media screen and (max-width: 768px) {
    [class^="col-"] {
      width: 100%;
      float: left;
      padding-left: 1.0416666667%;
      padding-right: 1.0416666667%; } }

/* Flexbox (or table/table-cell) */
.table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .table.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .no-flexbox .table {
    display: table;
    width: 100%; }

.table-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  .no-flexbox .table-cell {
    display: table-cell;
    vertical-align: top; }

/* Atoms */
.btn {
  background: #f0f0f0;
  text-transform: uppercase;
  color: #583c08;
  padding: 15px 30px;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  border: 1px solid #f0f0f0;
  white-space: nowrap;
  /* Primary button */
  /* Secondary */
  /* Disabled */ }
  .btn:hover {
    background: #e2e2e2;
    text-decoration: none; }
  .btn-primary {
    background: #E01EC8;
    color: white; }
    .btn-primary:hover {
      background: #ca1bb4; }
  .btn-secondary {
    background: #40C0D5;
    color: white; }
    .btn-secondary:hover {
      background: #2db7ce; }
  .btn-disabled, input[disabled],
  button[disabled] {
    background: #e2e2e2;
    color: #a3a3a3;
    text-shadow: 0 1px 0 white;
    pointer-events: none;
    cursor: not-allowed; }

/* Small button */
.btn-small {
  padding: 7px 20px; }

/* Disabled */
a.btn {
  display: inline-block; }

/*

01. Inputs
02. Select
03. Labels
04. Checkbox & Radio

*/
/* 01.Inputs */
input {
  display: block; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  background: white;
  border: 1px solid #dadada;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* 02. Select */
select {
  padding: 0; }

/* 03. Labels */
label {
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  font-weight: bold; }
  label.req:after {
    content: "*";
    display: inline;
    color: #c72129;
    margin-left: 2.5px; }

/* 04. Checkbox & Radio */
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  float: none !important;
  width: auto !important; }
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    float: none !important;
    width: auto !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
        -ms-flex: none !important;
            flex: none !important; }
    input[type="radio"] + label:before, input[type="radio"] + label:after,
    input[type="checkbox"] + label:before,
    input[type="checkbox"] + label:after {
      -webkit-transform: translate3d(0);
              transform: translate3d(0); }
    input[type="radio"] + label:hover:before, input[type="radio"] + label:hover:after,
    input[type="checkbox"] + label:hover:before,
    input[type="checkbox"] + label:hover:after {
      -webkit-transform: translate3d(0);
              transform: translate3d(0); }
  input[type="radio"]:focus + label,
  input[type="checkbox"]:focus + label {
    outline: 1px dotted; }

/* 04. Checkbox & Radio */
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  float: none !important;
  width: auto !important; }
  input[type="radio"] + label,
  input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    font-weight: 400;
    float: none !important;
    width: auto !important; }
    input[type="radio"] + label:before, input[type="radio"] + label:after,
    input[type="checkbox"] + label:before,
    input[type="checkbox"] + label:after {
      -webkit-transform: translate3d(0);
              transform: translate3d(0); }
    input[type="radio"] + label:hover:before, input[type="radio"] + label:hover:after,
    input[type="checkbox"] + label:hover:before,
    input[type="checkbox"] + label:hover:after {
      -webkit-transform: translate3d(0);
              transform: translate3d(0); }
  input[type="radio"]:focus + label,
  input[type="checkbox"]:focus + label {
    outline: 1px dotted; }

/*

Checkbox & Radio Left

*/
/* Checkbox */
.form-item input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 6px;
  height: 11px;
  width: 5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: #E01EC8;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out; }
.form-item input[type="checkbox"] + label:before {
  content: "";
  position: relative;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background: white;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out; }
.form-item input[type="checkbox"] + label:hover:before {
  border-color: #E01EC8;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out; }
.form-item input[type="checkbox"]:checked + label:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
          transition: opacity .2s ease-in-out; }
.form-item input[type="checkbox"]:checked + label:before {
  border-color: #E01EC8; }

/* Radio */
.form-item input[type="radio"] + label:before, .form-item input[type="radio"] + label:after {
  content: "";
  border-radius: 50%; }
.form-item input[type="radio"] + label:after {
  position: relative;
  top: 2px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  background: transparent;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid lightgray;
  -webkit-transition: -webkit-transform .2s ease-in-out;
          transition: transform .2s ease-in-out; }
.form-item input[type="radio"] + label:before {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 3px;
  visibility: hidden;
  opacity: 0;
  background: #E01EC8;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
.form-item input[type="radio"]:hover + label:after {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  border-color: #E01EC8; }
.form-item input[type="radio"]:checked + label:before {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
.form-item input[type="radio"]:checked + label:after {
  border-color: #E01EC8;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
.form-item input[type="radio"]:checked:hover + label:after {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

/*

Checkbox & radio in filters

*/
/* Checkbox */
.filter-item input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding: 10px; }
  .filter-item input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    display: block;
    top: 11px;
    right: 15px;
    height: 11px;
    width: 5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #E01EC8;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out; }
  .filter-item input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
    margin: 0 0 0 10px;
    width: 16px;
    height: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    background: white;
    z-index: 1;
    -webkit-transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out; }
  .filter-item input[type="checkbox"] + label:hover:after {
    border-color: #E01EC8;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out; }
.filter-item input[type="checkbox"]:checked + label {
  font-weight: bold; }
  .filter-item input[type="checkbox"]:checked + label:before {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out; }
  .filter-item input[type="checkbox"]:checked + label:after {
    border-color: #E01EC8; }

/* Molecules */
/*

01. Form items
02. Forms

*/
/* Form items */
.form-item {
  position: relative;
  margin-bottom: 20px; }
  .form-horizontal .form-item {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0; }
  .form-item:last-child {
    margin-bottom: 0; }

/* 02. Forms */
/* Horizontal */
.form-horizontal .btn {
  padding-top: 10px;
  padding-bottom: 10px; }

/* Vertical */
.form-vertical input, .form-vertical textarea {
  width: 100%; }
.form-vertical .btn {
  margin-top: 30px; }

/* Label aside */
.label-aside label, .label-aside input {
  display: inline-block; }
.label-aside.form-vertical .form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .label-aside.form-vertical .form-item label {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .label-aside.form-vertical .form-item input {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .label-aside.form-vertical .form-item .form-item-description {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }

/* Organisms */
