.section {
	margin-bottom: 70px;
	padding: 20px 0;
	&-title {
		border-bottom: 1px solid lightgray;
		padding-bottom: 2px;
	}
}
.subsection {
	margin-bottom: 65px;
	&-title {
		color: gray;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
.form-elements {
	&-buttons {
		.btn {
			margin-bottom: 20px;
		}
	}
}
.section-forms {
	.form-horizontal,
	.form-vertical {
		border: 1px solid lightgray;
		padding: 10px;
		border-radius: 2px;
	}
}
.style-guide-nav {
	padding-top: 20px;
	position: fixed;
	a {
		display: block;
	}
	@media screen and (max-width: 768px) {
		position: relative;
	}
}