/* Rows */
.row {
	@extend %clearfix;
	margin-right: -#{gutter()} !important;
	margin-left: -#{gutter()} !important;
}
// Human readable column size
// There are also col-* column sizes
.col-one-third {
	@include span(4);
}
.col-two-thirds {
	@include span(8);
}
.col-one-fourth {
	@include span(3);
}
.col-halfs {
	@include span(6);
}
.col-three-fourths {
	@include span(9);
}
.last {
	@include last;
}
[class^="col-"] {
	min-height: 1px;
	@include breakpoint(baby-bear) {
		@include span(full);
	}
}
/* Flexbox (or table/table-cell) */
.table {
	display: flex;
	flex-direction: row;
	&.align-center {
		align-items: center;
	}
	.no-flexbox & {
		display: table;
		width: 100%;
	}
}
.table-cell {
	flex: 1 0 auto;
	.no-flexbox & {
		display: table-cell;
		vertical-align: top;
	}
}