$susy: (
	columns: 12,
	gutters: 20px/60px,
	container: 960px,
	gutter-position: inside,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
		),
	);
@include border-box-sizing;

.wrapper {
	@include container;
	padding: 0 $padding;
	box-sizing: content-box;
}