// General
$typl8-serif-boolean: false;
$typl8-custom-font: "Helvetica Neue", "Segoe UI", Helvetica, Arial;
$typl8-line-height: 1.62;
$typl8-font-size: 100;
$typl8-paragraph-spacing: true;
$typl8-heading-color: #222;
$typl8-copy-color: #444;

// Scale
$typl8-scale: (
  typl8-tera: 148,
  typl8-giga: 111,
  typl8-mega: 83,
  typl8-alpha: 67,
  typl8-beta: 50,
  typl8-gamma: 37,
  typl8-delta: 28,
  typl8-epsilon: 21,
  typl8-zeta: 16,
  typl8-heta: 12,
  typl8-theta: 9
);

// Headings
$typl8-headings: (
  h1: typl8-alpha,
  h2: typl8-beta,
  h3: typl8-gamma,
  h4: typl8-delta,
  h5: typl8-epsilon,
  h6: typl8-zeta
);