pre {
	@include font-size(12px);
}
p.alter {
	@include font-size(12px);
}
a {
	color: $primary;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}
.form-item-description {
	@include font-size(12px);
	color: #999;
	margin-top: $padding/4;
	font-style: italic;
	clear: both;
	.label-aside & {
		text-align: right;
	}
}