.btn {
	background: #f0f0f0;
	text-transform: uppercase;
	color: #583c08;
	padding: $padding*1.5 $padding*3;
	line-height: normal;
	text-decoration: none;
	text-align: center;
	border: 1px solid #f0f0f0;
	white-space: nowrap;
	border-radius: if($input-radius, #{$input-radius}, null);
	&:hover {
		background: #e2e2e2;
		text-decoration: none;
	}

	/* Primary button */
	&-primary {
		background: $primary;
		color: white;
		&:hover {
			background: darken($primary, 5%);
		}
	}

	/* Secondary */
	&-secondary {
		background: $secondary;
		color: white;
		&:hover {
			background: darken($secondary, 5%);
		}
	}

	/* Disabled */
	&-disabled {
		background: #e2e2e2;
		color: #a3a3a3;
		text-shadow: 0 1px 0 white;
		pointer-events: none;
		cursor: not-allowed;
	}

}

/* Small button */
.btn-small {
	@extend .typl8-theta;
	padding: $padding*0.7 $padding*2;
}

/* Disabled */
input[disabled],
button[disabled] {
	@extend .btn-disabled;
}

a.btn {
	display: inline-block;
}