/*

01. Inputs
02. Select
03. Labels
04. Checkbox & Radio

*/

/* 01.Inputs */
input {
	display: block;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
	background: white;
	border: 1px solid #dadada;
	padding: $padding;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@if $input-radius {
		border-radius: $input-radius;
	}
	border-radius: if($input-radius, #{$input-radius}, null);
}

/* 02. Select */
select {
	padding: 0;
}

/* 03. Labels */
label {
	@include font-size(14px);
	display: inline-block;
	font-weight: bold;
	&.req:after {
		content: "*";
		display: inline;
		color: #c72129;
		margin-left: $padding/4;
	}
}

/* 04. Checkbox & Radio */
input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	float: none !important;
	width: auto !important;
	+ label {
		position: relative;
		display: inline-block;
		cursor: pointer;
		font-weight: $regular;
		float: none !important;
		width: auto !important;
		flex: none !important;
		&:before, &:after {
			transform: translate3d(0);
		}
		&:hover {
			&:before, &:after {
				transform: translate3d(0);
			}
		}
	}
	&:focus + label {
		outline: 1px dotted;
	}
}

/* 04. Checkbox & Radio */
input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	float: none !important;
	width: auto !important;
	+ label {
		position: relative;
		cursor: pointer;
		font-weight: $regular;
		float: none !important;
		width: auto !important;
		&:before, &:after {
			transform: translate3d(0);
		}
		&:hover {
			&:before, &:after {
				transform: translate3d(0);
			}
		}
	}
	&:focus + label {
		outline: 1px dotted;
	}
}

/*

Checkbox & Radio Left

*/
/* Checkbox */
.form-item input[type="checkbox"] {
	+ label {
		// The check
		&:after {
			content: "";
			position: absolute;
			display: block;
			top: 1px;
			left: 6px;
			height: 11px;
			width: 5px;
			transform: rotate(45deg);
			border-style: solid;
			border-width: 0 2px 2px 0;
			border-color: $primary;
			opacity: 0;
			visibility: hidden;
			z-index: 2;
			transition: all .1s ease-in-out;
		}
		// The box
		&:before {
			content: "";
			position: relative;
			display: block;
			float: left;
			margin: 0 $padding 0 0;
			width: 16px;
			height: 16px;
			border-radius: 2px;
			border-width: 1px;
			border-style: solid;
			border-color: lightgray;
			background: white;
			z-index: 1;
			transition: transform .2s ease-in-out;
		}
		&:hover {
			&:before {
				border-color: $primary;
				transform: scale(1.1);
				transition: transform .2s ease-in-out;
			}
		}
	}
	&:checked {
		+ label {
			&:after {
				visibility: visible;
				opacity: 1;
				transition: opacity .2s ease-in-out;
			}
			&:before {
				border-color: $primary;
			}
		}
	}
}

/* Radio */
.form-item input[type="radio"] {
	+ label {
		&:before, &:after {
			content: "";
			border-radius: 50%;
		}
		&:after {
			position: relative;
			top: 2px;
			display: block;
			float: left;
			margin: 0 $padding 0 0;
			background: transparent;
			cursor: pointer;
			width: 18px;
			height: 18px;
			border: 1px solid lightgray;
			transition: transform .2s ease-in-out;
		}
		&:before {
			position: absolute;
			width: 12px;
			height: 12px;
			top: 5px;
			left: 3px;
			visibility: hidden;
			opacity: 0;
			background: $primary;
			transform: scale(0);
			transition: all .2s ease-in-out;
		}
	}
	&:hover {
		+ label {
			&:after {
				transform: scale(1.1);
				border-color: $primary;
			}
		}
	}
	&:checked {
		+ label {
			&:before {
				visibility: visible;
				opacity: 1;
				transform: scale(1);
				transition: all .2s ease-in-out;
			}
			&:after {
				border-color: $primary;
				transform: scale(1);
			}
		}
		&:hover + label:after {
			transform: scale(1.1);
		}
	}
}


/*

Checkbox & radio in filters

*/

/* Checkbox */
.filter-item input[type="checkbox"] {
	+ label {
		display: block;
		cursor: pointer;
		padding: $padding;
		// The check
		&:before {
			content: "";
			position: absolute;
			display: block;
			top: $padding*1.1;
			right: $padding*1.5;
			height: 11px;
			width: 5px;
			transform: rotate(45deg);
			border-style: solid;
			border-width: 0 2px 2px 0;
			border-color: $primary;
			opacity: 0;
			visibility: hidden;
			z-index: 2;
			transition: all .1s ease-in-out;
		}
		// The box
		&:after {
			content: "";
			position: absolute;
			display: block;
			right: $padding;
			top: $padding;
			margin: 0 0 0 $padding;
			width: 16px;
			height: 16px;
			border-radius: $input-radius;
			border-width: 1px;
			border-style: solid;
			border-color: lightgray;
			background: white;
			z-index: 1;
			transition: transform .2s ease-in-out;
		}
		&:hover {
			&:after {
				border-color: $primary;
				transform: scale(1.1);
				transition: transform .2s ease-in-out;
			}
		}
	}
	&:checked {
		+ label {
			font-weight: bold;
			&:before {
				visibility: visible;
				opacity: 1;
				transition: opacity .2s ease-in-out;
			}
			&:after {
				border-color: $primary;
			}
		}
	}
}