@mixin breakpoint($breakpoint, $w:false) {
  @if $w == "reverse" {
    $w: min-width;
    @if map-has-key($breakpoints, $breakpoint) {
      $breakpoint: #{map-get($breakpoints, $breakpoint) + 1px};
      @media screen and ($w: $breakpoint) {
        @content;
      }
    } @else {
      @media screen and ($w: $breakpoint) {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Please make sure it is defined in `$breakpoints` map.";
    }
  } @else {
    $w: max-width;
    @if map-has-key($breakpoints, $breakpoint) {
      $breakpoint: #{map-get($breakpoints, $breakpoint)};
      @media screen and ($w: $breakpoint) {
        @content;
      }
    } @else {
      @media screen and ($w: $breakpoint) {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Please make sure it is defined in `$breakpoints` map.";
    }
  }
}