/*

01. Form items
02. Forms

*/

/* Form items */
.form-item {
	position: relative;
	margin-bottom: $padding*2;
	.form-vertical & {
		@extend %clearfix;
	}
	.form-horizontal & {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

/* 02. Forms */

/* Horizontal */
.form-horizontal {
	.btn {
		padding-top: $padding;
		padding-bottom: $padding;
	}
}

/* Vertical */
.form-vertical {
	input, textarea {
		width: 100%;
	}
	.btn {
		margin-top: $padding*3;
	}
}

/* Label aside */
.label-aside {
	label, input {
		display: inline-block;
	}
	&.form-vertical {
		.form-item {
			display: flex;
			flex-wrap: wrap;
			label {
				flex: 1;
			}
			input {
				flex: 2;
			}
			.form-item-description {
				flex: 1 0 100%;
			}
		}
	}
}